/*root config start*/
* {
    margin: 0;
}
:root {
    /*Color Scheme*/
    --primaryColor: #1D3461;
    --secondaryColor: #376996;
    --tertiaryColor: #6290C8;
    --primaryFontColor: #829CBC;
    --secondaryFontColor: #DFF4ED;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html, body, #root {
    height: 100%;
    margin: 0;
}

.portfolio-app {
    height: 100%;
    display: flex;
    flex-direction: column;
}
/*root config end*/

/*header config start*/
.header {
    background-color: var(--secondaryColor);
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* height: 10%; */
} 

.name {
    color: var(--primaryFontColor);
    padding: 5px;
    padding-left: 80px;
    font-size: 40px;
}

.name br {
    display: block;
    content: "";
    padding: 1 px; 
}

.name .lastname {
    display: inline-block;
    text-indent: 40px;
}

.navigation {
justify-content: space-between;
align-items: center;
padding: 20px;
}

.navigation ul {
    display: flex;
    gap: 30px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.navigation li {
    background-color: var(--tertiaryColor);
    padding: 5px 10px;
}

.navigation a {
    text-decoration: none;
    color: var(--secondaryFontColor)
}

.nav-link {
    text-decoration: none;
    color: var(--secondaryFontColor);
    padding: 4px 10px;
    transition: background-color 0.3s;
}

.nav-link.active {
    background-color: var(--primaryColor);
    color: white;
    border-radius: 5px;
}
/*header config end*/

/*Content config start*/
.content {
    flex-grow: 1;
    background-color: var(--primaryColor); /* optional background */
}

/*AboutMe config start*/
.about-me {
    background-color: var(--primaryColor);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.picture {
    width: 30%;
}

.picture img {
    width: 350px;
    padding: 40px;
    padding-left: 60px;
    max-width: 100%;
    height: auto;
}

.bio {
    width: 60%;
    color: var(--primaryFontColor);
}

.bio h2 {
    font-size: 40px;
    text-align: center;
    padding: 20px;
}

.bio p {
    padding: 20px 50px;
}

/* .bio br {
    display: block;
    content: "";
    padding: 1 px; 
} */

/*AboutMe config end*/

/*footer config start*/
.footer {
    background-color: var(--secondaryColor);
    padding: 10px 20px;
}

.social ul {
    justify-content: center;
    display: flex;
    gap: 10px;
    list-style: none;
    padding: 10px;
    margin: 0;
}

.social li {
    background-color: var(--tertiaryColor);
    padding: 5px 10px;
}

.social-icon {
    height: 30px; /* adjust to your desired size */
    width: 30px;
    object-fit: contain;
    transition: transform 0.2s;
}

.social-icon:hover {
    transform: scale(1.1); /* slight zoom on hover */
}
/*footer config end*/